.groupmessage
  =render partial: 'user/side'
  .contents
    .title
      
      %p.title__group 
        = @group.name 
      =link_to menber_group_path(@group.id) do
        %p.title__member 
          %span membar:
          =@group.users.count

  .contents__main
    .messages
      = render partial: @message
    

  .contents__footer
    -# = form_for([@group,@message], :html => {:class => "form_tag"}) do |f|
    -#   .input
    -#     = f.text_field :content, placeholder: "type a message",class: "input__text" 
    -#     = f.label :image, class: "input__label"  do
    -#       %i.fa.fa-image
    -#       = f.file_field :image,class: "input__image"
    -#   = f.submit "Send",class: "input__submit"