.indexwrap{
  display: flex;
  width: 100%;
  
  .contents{
flex: 1;
    
    hr{
      opacity: 0.8;
    }
    .post{
      width: 90%;
      margin: 0 auto;
      padding-top: 40px;
      &__title{
      color: #808080;
      font-size: 1.2em;
      padding-left: 10px;
      }

      &__top{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        &__nav{
          position: relative;
          padding: 10px;
          width: 60%;
          overflow: hidden;
          &__title{
            font-size: 1.3em;
            color: #808080;
            text-decoration: none;
          }
          &__body{
            font-size: 0.9em;
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
            
            
        
          }
          &__user{
            position: absolute;
            bottom: 30px;
            font-size: 0.8em;
          }
        }
        &__image{
          height: 200px;
          width: 40%;
        }
      }

      &__contents{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        &__article{
          width: 30%;
          height: 45%;
          margin-bottom: 15px;
          overflow: hidden;
          a{
            text-decoration: none;
          }
          &__image{
            width: 100%;
            height: 200px;

          }
          &__body{
            text-decoration: none;
            overflow: hidden;
            padding: 3px;
            width: 100%;
            height: 100%;
            color: black;
            cursor: pointer;
            text-decoration: none;
            
          }
          &__user{
            color: black;
            cursor: pointer;
          }
        }
      }

    }


  }
  .pagination{
    padding-bottom: 50px;
    display: flex;
    width: 300px;
    margin: 0 auto;
    li{
      background-color:#808080 ;
      opacity: 0.8;
      margin-right: 10px;
      padding: 0 10px;
      color: white;

      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}