.postwrap{
  display: flex;
 
  .new_post{
    width: 70%;
    height: 100vh;
    padding: 5px 30px 0 0;
    
    &__top{
      display: flex;
      &__title{
        height: 40px;
        width: 90%;
        padding: 2px;
        font-size: 1.3em;
      }
      &__submit{
      padding: 10px;
      width: 40px;
      
      &:hover{
        .icon{
          transition: all 0.5s;
          border-radius: 10px;
          width: 40px;

          background-color: rgb(190, 187, 187);
        }
      }
     

     
      .icon{
        font-size: 1.8em;
        cursor: pointer;
      }
      #post_submit{
        visibility: hidden;
      }
      }


    }
    #image-box{
      
      #previews{

      }

      .js-file_group{
       
        .label{
          .icon{
            font-size: 1.8em;
          }
          
          .js-file{
            
            display: none;
          }
         
        }
        .js-remove{

        }
      }
      .js-file_group{
        .label{

        }
        .js-remove{

        }
      }

    }

    &__content{
      width: 100%;
      padding: 5px;
      height: 70vh;
      display: block;
      resize: none;
      overflow:scroll;
      line-height: 150%;

    }
  }
}