.postwrap
  = render partial: 'user/side'
  .new_post
    = form_with(model: @post, local: true) do |f|
      .new_post__top
        =f.text_field :title, placeholder: "エピソードタイトル",class: 'new_post__top__title' 
        .new_post__top__submit
          =f.label :submit do
            %i.fas.fa-pencil-alt.icon
            =f.submit "毒を吐く",id:"post_submit"
      
      =f.label :images,"image" do
        %i.fa.fa-image.icon
        =f.file_field :images,class: 'image_icon' 

      
      =f.text_area :content, placeholder: "理不尽な体験、一人で抱え込まずシェアしよう",class: 'new_post__content' 